
<style>
    .loading-wheel{
        position: fixed;
        top: 0; left: 0; right:0; bottom:0;
        background:rgba(0, 0, 0, 0.8);
        z-index: 99999;
    }

    .loading-wheel div{
        position: fixed;
        top: -50px;
        left: -50px;
        width: 100px;
        height: 100px;
        border: 12px solid #f3f3f3;
        border-top: 12px solid #3498db;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: translate(50vw, 50vh) rotate(0deg); }
        100% { transform: translate(50vw, 50vh) rotate(360deg); }
    }
</style>

<div id="loading-wheel" class="">
    <div>

    </div>
</div>