<ul class="nav" id="side-menu">
    <li>
        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
        <a href="/department"><i class="fa fa-home fa-fw"></i> Department</a>
    </li>
    <li>
        <a href="/team"><i class="fa fa-briefcase fa-fw"></i> Team</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-user fa-fw"></i> User<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/user"><i class="fa fa-user fa-fw"></i> User</a>
            </li>
            <li>
                <a href="/user-role"><i class="fa fa-briefcase fa-fw"></i> Role</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>