<div>
    <ul id="lst-valid-sum" style="color: red;">
        <% if (typeof validSum != 'undefined') validSum.forEach((item, i) => { %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</div>