
<% layout('./template/layout.ejs') -%>
<% block('title', 'Department details') -%>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-7">
                        <form id="frm-detail">

                            <%- partial('./template/valid-sum') %>

                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" name="name" value="<%= model.name %>" required>
                            </div>
                            <div class="form-group">
                                <label>Head</label>
                                <select name="head" class="form-control">
                                    <option value="">-- Option --</option>
                                    <% users.forEach((item, i) => { %>
                                        <option value="<%= item.id %>" <%= model.headId == item.id ? "selected" : "" %>><%= item.username + ' - ' + item.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <button class="btn btn-default" id="btn-save">Save</button>
                            <% if(!model.isNew){ %>
                                <button class="btn btn-danger" id="btn-delete">Delete</button>
                            <% } %>
                        </form>
                        <br />
                        <a href="/department">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="txt-data"
    data-id="<%= model._id %>"
/>

<script src="/js/controller/department.js"></script>