
<% layout('./template/layout') -%>
<% block('title', 'Departments') -%>

<style>
	#tbl-list th {
		background-image: none;
	}
	.dataTables_filter {
		display: none;
	}
</style>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
                <a id="btn-new" class="btn btn-primary">New</a>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<form>
					<div class="row form-group">
						<div class="col-lg-12">
							<div class="col-md-4">
								<input class="form-control" type="text" id="txt-filter-name" placeholder="Search name..." />
							</div>
						</div>
					</div>
				</form>

				<div class="table-responsive">
                    <table id="tbl-list" class="display">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

			</div>
			<!-- /.panel-body -->
		</div>
	</div>
</div>

<script src="/js/controller/departments.js"></script>