
<% layout('./template/layout.ejs') -%>
<% block('title', 'Team details') -%>

<% function getUserName(id){ %>
    <% for(var item of users){ %>
        <% if(id == item.id){ %>
            <% return item.username + ' - ' + item.name; %>
        <% } %>
    <% } %>
<% } %>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-7">
                        <form id="frm-detail">

                            <%- partial('./template/valid-sum') %>

                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" name="name" value="<%= model.name %>" required>
                            </div>
                            <div class="form-group">
                                <label>Department</label>
                                <select name="department" class="form-control">
                                    <option value="">-- Option --</option>
                                    <% departments.forEach((item, i) => { %>
                                        <option value="<%= item.id %>" <%= model.departmentId == item.id ? "selected" : "" %>><%= item.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Users</label>
                                <br />
                                <button class="btn btn-default" id="btn-add-user">+</button>
                                <select name="user" class="form-control" id="ddl-user">
                                    <% users.forEach((item, i) => { %>
                                        <option value="<%= item.id %>"><%= item.username + ' - ' + item.name %></option>
                                    <% }) %>
                                </select>
                                <ul id="lst-user">
                                    <% if(model.userIds && model.userIds.length > 0){ %>
                                        <% model.userIds.forEach((userId, i) => { %>
                                            <li data-id="<%= userId %>">
                                                <span><%= getUserName(userId) %></span>
                                                <a href="#" class="btn-remove-user">&nbsp;&nbsp;&nbsp;x&nbsp;&nbsp;&nbsp;</a>
                                            </li>
                                        <% }) %>
                                    <% } else{ %>
                                        <li data-id="">No user.</li>
                                    <% } %>
                                </ul>
                            </div>
                            <button class="btn btn-default" id="btn-save">Save</button>
                            <% if(!model.isNew){ %>
                                <button class="btn btn-danger" id="btn-delete">Delete</button>
                            <% } %>
                        </form>
                        <br />
                        <a href="/team">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="txt-data"
    data-id="<%= model._id %>"
/>

<script src="/js/controller/team.js"></script>