
<% layout('./template/layout.ejs') -%>
<% block('title', 'User details') -%>

<% function getTeamName(id){ %>
    <% for(var item of teams){ %>
        <% if(id == item.id){ %>
            <% return item.name; %>
        <% } %>
    <% } %>
<% } %>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-7">
                        <form id="frm-detail">

                            <%- partial('./template/valid-sum') %>

                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" type="text" name="username" value="<%= model.username %>" required <%= !model.isNew ? 'readonly' : '' %>>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" name="name" value="<%= model.name %>">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="text" name="email" value="<%= model.email || '' %>">
                            </div>
                            <div class="form-group">
                                <label>Department</label>
                                <select name="department" class="form-control">
                                    <option value="">-- Option --</option>
                                    <% departments.forEach((item, i) => { %>
                                        <option value="<%= item.id %>" <%= model.departmentId == item.id ? "selected" : "" %>><%= item.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <select name="role" class="form-control">
                                    <option value="">-- Option --</option>
                                    <% roles.forEach((item, i) => { %>
                                        <option value="<%= item.id %>" <%= model.roleId == item.id ? "selected" : "" %>><%= item.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Teams</label>
                                <br />
                                <button class="btn btn-default" id="btn-add-team">+</button>
                                <select name="team" class="form-control" id="ddl-team">
                                    <% teams.forEach((item, i) => { %>
                                        <option value="<%= item.id %>"><%= item.name %></option>
                                    <% }) %>
                                </select>
                                <ul id="lst-team">
                                    <% if(model.teamIds && model.teamIds.length > 0){ %>
                                        <% model.teamIds.forEach((teamId, i) => { %>
                                            <li data-id="<%= teamId %>">
                                                <span><%= getTeamName(teamId) %></span>
                                                <a href="#" class="btn-remove-team">&nbsp;&nbsp;&nbsp;x&nbsp;&nbsp;&nbsp;</a>
                                            </li>
                                        <% }) %>
                                    <% } else{ %>
                                        <li data-id="">No team.</li>
                                    <% } %>
                                </ul>
                            </div>
                            <button class="btn btn-default" id="btn-save">Save</button>
                            <% if(!model.isNew){ %>
                                <button class="btn btn-danger" id="btn-delete">Delete</button>
                            <% } %>
                        </form>
                        <br />
                        <a href="/user">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="txt-data"
    data-id="<%= model._id %>"
/>

<script src="/js/controller/user.js"></script>